/// This mixin assumes mobile-first coding, and helps you respond to different breakpoints
/// from within each applicable selector.
/// It pulls breakpoints from a map of breakpoints set in _variables.scss

@mixin respond-to($breakpoint) {
  // Retrieves the value of the breakpoint
  $value: map-get($breakpoints, $breakpoint);
 
  // If the breakpoint exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }    
}


//Fade in on load

@mixin fadeinload {
    animation: fadein 2s;
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}


@mixin button($colour) {
    // possible values for $colour are detail, secondary
    border: 1px solid colour($colour);
    background: colour($colour);
    font-family: $facit;
    // talk to Bobbi about bold instead of semibold
    font-weight: bold;
    font-style: italic;
    transition: 0.5s ease all;
    margin-bottom: 1em;
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    @if $colour == 'tertiary' {
        color: #fff;
    } @else {
        color: #fff;
    }
    &:hover {
        background: transparent;
        color: colour($colour);
        &:after {
            color: colour($colour);
        }
    }

}

@mixin quietbutton($colour) {
    border: 1px solid #fff;
    background: #fff;
    font-family: $facit;
    // talk to Bobbi about bold instead of semibold
    font-weight: 700;
    transition: 0.5s ease all;
    border-radius: 0px;
    margin-bottom: 1em;
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: $colour;
    &:hover {
        background: transparent;
        color: #fff;
        &:after {
            color: #fff;
        }
    }
//    &:after {
//        content: ' >';
//        transition: 0.5s ease all;
//        color: #fff;
//    }

}


