/* 
This map is used for a mobile first responsive coding 
approach mixin in _mixins.scss. Breakpoint names are 
inspired by bodies of water, because they expand and
shrink with the weather. These denote some default
screen breaks. More can be added if needed.

Vocabulary options: pond, brook, creek, gulf, sea.
*/
$breakpoints: (
    'stream': 320px,
    'avatar': 600px,
    'brook': 500px,
    'creek': 600px,
    'pond': 700px,
    'width': 780px,
    'river': 800px,
    'lake': 900px,
    'not3': 980px,
    'gulf': 1000px,
    'sea': 1200px,
    'ocean': 1600px
);

/// This a a map of the theme colours.
/// Never name variables by colour, instead use names
/// that signify their usage.

$colours: (
    primary: #A6B477,
    darkprimary: #299076,
    secondary: #37C09D,
    tertiary: #FFD17B,
    tertiarydark: #BF9D5C,
    highlighter: #F76D4E,
    detail: #2D2E32,
    light: #F7F7F7,
);

$line-h: 1.7em;
$less-line-h: 1.5em;
//$line-h: 1.7em;
//$line-h: 22px;
$line-l: 700px;

$facit: "jaf-facitweb", sans-serif;
$width: 680px;