.single-wswg-courses {
    .site-content {
        display: flex;
        flex-direction: column;
        @include respond-to(sea) {
            flex-direction: row;
        }
        #primary {
            width: 80%;
            .wswg-courses {
                .entry-content {
                    flex-direction: column;
                    max-width: $line-l;
                }
            }
        }
        #course-lessons-sidebar {
            width: 30%;
        }
    }
}