a.course-card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 2em;
    background: colour(light);
    border-bottom: 0;
    transition: 0.5s ease all;
    @include respond-to(river) {
        flex-direction: row;
        max-width: $width;
        margin: 0 0 2em 0;
    }
    &:hover {
        color: inherit;
//            border: 2px solid colour(secondary);
//            border-left: 0px;
            transform: scale(1.05);
        
    }
    .featured-image {
//        max-height: 50%;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .course-info {
        flex-shrink: 0;
//        height: 50%;
        @include respond-to(river) {
            width: 55%; 
//            height: 100%;
        }
        padding: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
//        border: 2px solid colour(light);
//        border-left: 0px;
    }
}