.home-main {
    display: grid;
    grid-template-areas: 
        "articles"
        "ad"
        "hcategories";
    grid-gap: 50px;
    @include respond-to(gulf) {
        grid-template-areas: 
            "articles ad"
            "articles hcategories";
        grid-gap: 30px;
    }

    

}

.home-main.no-ad {
    display: grid;
    grid-template-areas: 
        "articles"
        "hcategories";
    grid-gap: 50px;
    @include respond-to(gulf) {
        grid-template-areas: 
            "articles hcategories"
            "articles hcategories";
        grid-gap: 30px;
    }

    

}


.ad {
    grid-area: ad;
    background-color: colour(secondary);
    padding: 1em;
    text-align: center;
    header, .content {
        max-width: 475px;
        margin: 0 auto;
    }
    .heading {
        color: #fff;
        margin-bottom: 0.2em;
    }
    .sub-heading {
        color: colour(darkprimary);
        font-weight: bold;
    }
    .content {
        color: #fff;
    }
    .button-wrapper {
        a {
            @include quietbutton(colour(secondary));
        }
    }
}