.index-post-header {
    .entry-title {
        display: inline;
        font-size: 20px;
        @include respond-to(brook) {
            font-size: 25px;
        }
        a {
            border-bottom: 0;
        }
    }
    font-size: 25px;
    .post-category {
        border-bottom: 0;
        font-size: 19px;
        @include respond-to(brook) {
            font-size: 22px;
        }
    }
}

.index-articles {
    margin-bottom: 1em;
    max-width: 1000px;
}

.page-header{
    margin-bottom: 1em;
}

.nav-links {
    font-size: 18px;
    margin-top: 2em;
}