.single-wswg-lessons {
    .site-content {
        display: flex;
        flex-direction: column;
        @include respond-to(sea) {
            flex-direction: row;
        }
        #primary {
//            order: 1;
            max-width: calc(780px*1.3);
            @include respond-to(sea) {
                width: 75%;
//                order: 0;
                padding-right: 1em;
            }
            .builder {
//                p {
                    max-width: $line-l;
//                }
                img {
                    display: block;
                    margin: 1em 0;
                }
                li {
                    margin-bottom: 0.5em;
                }
                pre {
//                    max-width: 750px;
                    font-size: 14px !important;
                }
            }
        }
        #course-lessons-sidebar {
            @include respond-to(sea) {
                position: inherit;
                width: 25%;
            }
        }
        .mini-lesson {
            background-color: colour(light);
            background: url(imgs/minilessoncropped.png) colour(light) no-repeat;
            background-position: center top;
            border-left: 3px solid colour(secondary);
            border-right: 3px solid colour(secondary);
            padding: 2em;
            margin: 2.5em 0;
            &__type {
                font-family: $facit;
                font-style: italic;
            }
            header {
                text-align: center;
                h3 {
                    color: colour(secondary);
                    margin: 1em 3em;
                }
            }
        }
    }
}

.next-lesson {
    background-color: colour(light);
    padding: 1em;
    max-width: $line-l;
    margin-bottom: 1em;
    a {
        border-bottom-color: colour(secondary);
        &:hover {
            color: colour(secondary);
            border-bottom-color: colour(secondary);
        }
    }
}