* {
//    transition: all 0.5s ease;
}
#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
}

.site-content {
    flex: 1;
    padding: 3em 2em;
    @include respond-to(pond) {
       padding: 6em 5em;
    }
    @include respond-to(ocean) {
       padding: 6em 10em; 
    }
}

#page {
    @include fadeinload;
}

.centred {
    text-align: center;
}

.builder-subheading {
    margin-top: 0.5em;
}

.more-margin {
    margin-bottom: 5em;
}

//.single .site-content {
//    display: flex;
//    flex-direction: row;
//}

.page-template-page-builder .site-content {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 2em;
}
.page-builder-header {
    padding: 1em;
}
.builder {
    h2 {
        margin-bottom: 1em;
    }
}