#wswg-author {
    margin-top: 2.5em;
    @include respond-to(sea) {
        margin: 0 2em;
    }
    .widget_wswg_author_widget {
        display: flex;
        max-width: $width;
        flex-direction: column;
        @include respond-to(avatar) {
            flex-direction: row;
        }
        @include respond-to(sea) { 
            flex-direction: column;
            width: 300px;
        }
        .author-avatar {
//            background: colour(highlighter);
//            padding-top: 0.2em;
//            margin-bottom: 1em;
//            display: inline-block;
            flex-shrink: 1.45;
//            @include respond-to(pond) {
//                flex-shrink: 1.45;
//            }
            @include respond-to(pond) {
                flex-shrink: 1.85;
            }
            img {
                display: block;
                margin-bottom: 0;
//                width: 100%;
//                height: 100%;
//                object-fit: cover;
                
                @include respond-to(avatar) {
//                    max-height: 250px;
                }
                @include respond-to(sea) {
                    width: auto;
                    height: auto;
                    object-fit: contain;
                    
                }
            }
        }
        .author-bio-wrapper {
            background: colour(light);
            padding: 1.5em 1em;
            line-height: $line-h;
            display: flex;
            align-items: center;
            width: 100%;
//            max-height: 250px;
            @include respond-to(sea) {
                max-height: 100%;
            }
            a {
                border-bottom: 0;
            }
            .author {
                font-weight: bold;
                font-style: italic;
                font-family: $facit;
            }
        }
    }
}