.page-template-page-builder .builder.columns {
    margin: 0 2em 3em 2em;
    @include respond-to(pond) {
        margin: 0 auto 4em auto;
    }
    .grid-wrapper {
        display: grid;
        @include respond-to(pond) {
//            grid-auto-rows: 1fr;
        }
        max-width: 1100px;
        grid-gap: 30px;
        margin: 2em auto;
        justify-content: center;
//        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        @include respond-to(pond) {
//            grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        }
//        @include respond-to(not3) {
//            grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
//        }
        .grid-item {
            background: colour(light);
            padding: 2em;
            text-align: center;
            display: flex;
            flex-direction: column;
//            justify-content: center;
            h3 {
                margin-top: 0;
            }
            .content {
//                margin-bottom: 1em; 
                p:last-child {
                    margin-bottom: 0;
                }
            }

        }
    }
}

