.builder.cta {
    background-color: colour(light);
    padding: 2em 2em 4em 2em;
    h2 {
        text-align: center;
        margin-bottom: 2em;
    }
    .content-wrapper {
        max-width: 650px;
        margin: 0 auto;
    }
    .purchase-form-wrapper {
        text-align: center;
        margin: 2em 0;
        a {
            @include button(secondary);
//            background: colour(secondary);
//            color: #fff;
//            font-family: $facit;
//            font-style: italic;
//            font-weight: bold;
//            text-transform: lowercase;
//            border: 2px solid colour(secondary);
//            padding: 0.5em 1.5em;
//            transition: 0.5s ease all;
//            &:hover {
//                background: transparent;
//                color: colour(secondary);
//            }
//            &:focus {
//                box-shadow: 0 0 0;
//                border: 2px solid colour(highlighter);
//                background: colour(highlighter);
//            }
        }
    }
    .womc-fields {
        display: flex;
        margin-bottom: 1em;
        justify-content: center;
    }
    .hide {
        display: none;
    }
    .womc-success-message, .womc-already-sub-message {
        text-align: center;
    }
    input {
        -webkit-appearance: none;
        border: 2px solid colour(tertiary);
        border-radius: 0;
        background: transparent;
        padding: 0.8em;
        @include respond-to(pond) {
            padding: 0.8em 1em;
        }
        &:focus {
            box-shadow: 0 0 0;
            border: 2px solid colour(highlighter);
        }
        &[type="email"] {
            width: 60%;
            font-style: italic;
            color: colour(detail);
            border-right-width: 1px;
            @include respond-to(pond) {
                width: 45%;
            }
            &::placeholder {
                color: colour(detail);
            }
        }
        &[type="submit"] {
            background: colour(tertiary);
            color: #fff;
            font-family: $facit;
            font-style: italic;
            font-weight: bold;
            text-transform: lowercase;
            &:hover {
                background: transparent;
                color: colour(tertiary);
            }
            &:focus {
                box-shadow: 0 0 0;
                border: 2px solid colour(highlighter);
                background: colour(highlighter);
            }
        }
        &[type="hidden"] {
            display: none;
        }
    }
}