.glossary-item-container {
//    display: inline-block;
    color: colour(secondary);
    border-bottom: 1px solid colour(secondary);
    &:hover {
        background: colour(light);
        cursor: help;
    }
}

.glossary-item-hidden-content {
	display: none;
}

.glossary-item-popover {
	position: absolute;
	margin: 10px;
	z-index: 1;
}

.tippy-tooltip, .glossary-item-inner {
	padding: 1em;
	background-color: #FFF;
	color: colour(detail);
	border-radius: 0px;
    font-size: 14px;
    line-height: $less-line-h;
    border: 2px solid colour(secondary);
//	box-shadow: 0 1px 10px rgba(0,0,0,.15);
//	-moz-box-shadow: 0 1px 10px rgba(0,0,0,.15);
//	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.15);
	max-width: 300px;
	text-align: left;
}

.glossary-item-inner .glossary-item-description a {
	text-decoration: none;
}

.glossary-item-header {
//	display: block;
//	color: #3d596d;
//	font-size: 18px;
//	font-weight: 400;
//	line-height: 18px;
//	margin-bottom: 8px;
    @extend h4;
    display: block;
    margin-top: 0;
}

.glossary-item-description {
//	color: #3d596d;
//	font-size: 14px;
//	font-style: italic;
//	word-break: break-word;
}

.glossary-item-popover {
	padding: 0;
}

.tippy-tooltip.light-theme[x-placement^=top] .tippy-arrow {
    display: none;
}

.tippy-tooltip.light-theme[x-placement^=bottom] .tippy-arrow {
    display: none;
}

.tippy-tooltip.light-theme[x-placement^=left] .tippy-arrow {
    display: none;
}

.tippy-tooltip.light-theme[x-placement^=right] .tippy-arrow {
    display: none;
}

.tippy-tooltip.light-theme .tippy-backdrop {
    background-color: #fff;
    border: 2px solid colour(secondary);
}

.tippy-tooltip.light-theme .tippy-roundarrow {
//    fill: #fff
    display: none;
}

.tippy-tooltip.light-theme[data-animatefill] {
    background-color: transparent
}