.exercise-section {
    padding: 2em;
    margin: 2.5em 0;
    border: 3px solid colour(detail);
    background-color: colour(light);
    background: url(imgs/minilessoncroppedmini.png) colour(light) no-repeat;
    background-position: center top;
    header {
        text-align: center;
        h6 {
            font-style: italic;
            font-family: $facit;
            font-size: 16px;
        }
        h3 {
            color: colour(detail);
            margin: 1em 3em;
        }
            }
    dd, dt {
        margin: 0;
        font-weight: normal;
    }
    .solution-heading {
        cursor: pointer;
    }
    .solution {
        display: none;
    }
}