.site-footer {
    background-color: colour(light);
}
.site-info {
    background: colour(highlighter);
    color: #fff;    
    padding: 1.5em;
    @include respond-to(pond) {
       padding: 1.5em 5em;
    }
    @include respond-to(ocean) {
       padding: 1.5em 10em; 
    }
    line-height: $line-h;
}

.site-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.site-copyright {
    margin-top: 0.5em;
}
.site-credit {
    font-family: $facit;
    font-weight: 700;
    font-size: 25px;
    margin-top: 0.3em;
    a {
        color: #fff;
    }
}

.privacy-link {
    margin: 0 1em;
    a {
        color: #fff;
        border-bottom: 1px solid #fff;
        &:hover {
            color: #fff;
        }
    }
}