.site-header {
    background: colour(light);
//    background: colour(primary);
//    color: #fff;
    padding: 6em 2em 2em 2em;
    @include respond-to(pond) {
       padding: 6em 5em 2em 5em; 
    }
    @include respond-to(ocean) {
       padding: 6em 10em 2em 10em; 
    }
    .site-branding {
//        max-width: $width;
    }
    .site-title {
        font-family: $facit;
        font-weight: 700;
        font-style: italic;
        font-size: 25px;
        @include respond-to(stream) {
            font-size: 30px;
        }
        @include respond-to(brook) {
            font-size: 40px;
        }
        margin-bottom: 1.2em;
        a {
            border-bottom: 0;
//            color: #fff;
        }
    }
    .navigation-wrapper {
        display: flex;
        justify-content: space-between;
        flex-grow: 2;
    }
    #site-navigation {
        a {
            font-size: 18px;
            margin: 0 0.5em;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.site-header-large-h3, .site-description {
    font-size: 20px;
    @include respond-to(stream) {
        font-size: 22px;
    }
    
    line-height: $line-h;
    h3 {
        font-size: 20px;
        @include respond-to(stream) {
            font-size: 22px;
        }
    }
}

.single-header {
    padding: 1em 2em 1em 2em;
    @include respond-to(pond) {
       padding: 1.5em 5em 1.5em 5em; 
    }
    @include respond-to(ocean) {
       padding: 2em 10em 2em 10em; 
    }
    .site-branding {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
//        margin-bottom: 1.2em;
    }
    .site-title, .site-description p, .site-header-large-h3 p {
        margin-bottom: 0;
    }
    .site-title {
        margin-right: 2em;
        font-size: 22px;
        @include respond-to(stream) {
            font-size: 22px;
        }
        @include respond-to(brook) {
            font-size: 22px;
        }
    }
}

.logged-in-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: colour(tertiary);
    font-family: $facit;
    font-weight: bold;
    font-style: italic;
    color: colour(tertiarydark);
    font-size: 21px;
    padding: 1em 2em 1em 2em;
    @include respond-to(pond) {
       padding: 0.5em 4em 0.5em 4em; 
    }
    @include respond-to(ocean) {
       padding: 0.5em 7.5em 0.5em 7.5em; 
    }
    .page-header-title {
        font-size: 16px;
        
    }
    a {
        border-bottom: 0;
        color: colour(tertiarydark);
        font-size: 16px;
        padding: 0 0.3em;
        transition: 0.5s ease all;
        &:hover {
            color: colour(detail);
        }
        &:last-child {
            padding-right: 0em;
        }
    }
    .sub-menu {
        display: none;
    }
}

.right-side {
    text-align: right;
    font-style: normal;
    font-family: tisa, serif;
    a:first-of-type {
        margin-right: 0;
    }
}

.page-featured-image {
    margin-top: 1rem;
    @include respond-to(pond) {
        margin-top: 2rem;
    }
    img {
        height: 200px;
        @include respond-to(pond) {
            height: 350px;
        }
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}