.home-categories {
    grid-area: hcategories;
    text-align: center;
    background-color: colour(light);
    padding: 1em;
    header {
        margin-bottom: 2em;
    }
    a {
        border-bottom: 0px;
        margin-bottom: 1.5em;
        display: block;
    }
}