#course-lessons-sidebar {

}
.widget_wswg_lessons_widget {
    background: colour(light);
    padding: 2em;
    margin: 0;
    text-align: center;
    h3 {
        margin-top: 0;
    }
    ul {
        margin: 0;
//        display: none;
        @include respond-to(sea) {
            display: block;
        }
        li {
//            border-bottom: 2px solid #fff;
            padding: 0.2em;
            line-height: 1.5em;
            margin-bottom: 0.7em;
            a {
//                display: block;
//                padding:  0.5em 0em 0 0em;
                border-bottom: 0;
                border-bottom: 1px solid transparent;
                transition: 0.5s ease-in all;
            }
            &:before {
                content: none;
                margin: 0;
            }
            &:hover {
                a {
                    color: inherit;
                    border-bottom: 1px solid colour(secondary);
                }
            }
            ul {
                list-style: none;
                margin: 0;
            }
            
        }
        .current-lesson {
            color: colour(secondary);
            font-weight: bold;
            a {
                color: colour(secondary);
            }
        }
    }
    ul.modules {
        text-align: left;
        .module-name {
            cursor: pointer;
            h4 {
                margin-top: 1em;
            }
            svg {
                fill: colour(secondary);
            }
        }
        .module-name + ul {
            display: none;
        }
        .module-lessons li.complete {
            opacity: 0.5;
            &:before {
                content: '✓';
                margin-left: -1.2em;
                padding-right: 0.5em;
            }
        }
        .show {
            & + ul {
                display: block;
            }
        }
        .current-lesson {
            font-weight: normal;
        }
    }

}

.widget_wswg_ask_widget {
    text-align: center;
    h3 {
        margin-bottom: 1em;
    }
    .description {
        font-style: italic;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}