.mfp-bg {
    background: colour(detail);
    opacity: 0.45;
}

.overlay-popup {
    width: 90%;
    padding: 0.5em;
    @include respond-to(pond) {
        width: 75%;
        padding: 2em;
    }
    
    max-width: 650px;
    background: #fff;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.16);
    margin: 3em auto;
    
}