

.entry-content {
    img {
        margin-bottom: 1em;
    }
}

.single article {
    font-size: 18px;
    .entry-title {
        margin-bottom: 0;
    }
    .entry-header-content {
        display: flex;
        align-items: center;
        max-width: calc(780px*1.3);
        .likes {
            margin-left: -3em;
            margin-right: 1em;
            a {
                border-bottom: 0;
            }
        }
    }
    .entry-content {
        display: flex;
        flex-direction: column;
        @include respond-to(sea) {
            flex-direction: row;
        }
        .article-content {
            max-width: $width;
            @include respond-to(sea) {
//                order: 2;
            }
        }
    }
}

.single article .entry-meta {
    margin-top: 1em;
    font-size: 20px;
    margin-bottom: 3em;
    a {
        border-bottom: 0;
    }
    .cat-links a, .entry-date {
        font-family: $facit;
        font-weight: 700;
        font-style: italic;
    }
}

.optin-footer  {
    background: colour(light);
    padding: 2em;
    max-width: $width;
    @include respond-to(pond) {
        padding: 3em 5em;
    }
    .optin-blurb {
        margin-bottom: 2em;
        h3 {
            margin-top: 0;
            margin-bottom: 1em;
        }
    }
    .womc-fields {
        display: flex;
        margin-bottom: 1em;
    }
    .hide {
        display: none;
    }
    input {
        -webkit-appearance: none;
        border: 2px solid colour(tertiary);
        border-radius: 0;
        background: transparent;
        padding: 0.5em;
        @include respond-to(pond) {
            padding: 0.8em 1em;
        }
        &:focus {
            box-shadow: 0 0 0;
            border: 2px solid colour(highlighter);
        }
        &[type="email"] {
            width: 100%;
            font-style: italic;
            color: colour(detail);
            border-right-width: 1px;
            @include respond-to(pond) {
                width: 45%;
            }
            &::placeholder {
                color: colour(detail);
            }
        }
        &[type="submit"] {
            background: colour(tertiary);
            color: #fff;
            font-family: $facit;
            font-style: italic;
            font-weight: bold;
            text-transform: lowercase;
            &:hover {
                background: transparent;
                color: colour(tertiary);
            }
            &:focus {
                box-shadow: 0 0 0;
                border: 2px solid colour(highlighter);
                background: colour(highlighter);
            }
        }
        &[type="hidden"] {
            display: none;
        }
    }
}

.onarticle {
    .optin-blurb {
        text-align: center;
        h2 {
            margin-top: 0.5em;
        }
    }
    .womc-fields {
        justify-content: center;
    }
}

.onsite {
    .optin-blurb {
        max-width: $width;
    }
    input[type="email"] {
        @include respond-to(pond) {
            width: 325px;
        }
    }
    
}

.disclaimernote {
    font-style: italic;
    max-width: $width;
    
}