.recent-articles {
    grid-area: articles;
    max-width: 600px;
    @include respond-to(gulf) {
        max-width: 500px;
    }
    header{
        margin-bottom: 1.5em;
    }
    li {
        list-style: none;
        margin-bottom: 1.2em;
        font-size: 18px;
        a {
            border-bottom: 0px;
            line-height: 1.4;
        }
    }
    .all-articles-link-wrapper {
        font-size: 18px;
        margin-top: 2em;
    }
}