.page-template-page-builder .builder.text {
    max-width: 650px;
    margin: 0 2em 4em 2em;
    @include respond-to(pond) {
        margin: 0 auto 4em auto;
    }
    div.yellow-border {
        border: 3px solid colour(tertiary);
        padding: 1.5em;
    }
}