// LISTS

ul {
    list-style-type: none;
    margin: 0 0 1.5em 2em;
    li {
        line-height: $line-h;
        &:before {
            content: '\2013\a0';
            color: colour(secondary);
            font-weight: bold;
            margin-right: 0.5em;
        }
    }
}

ol {
    list-style-type: none;
    margin: 0;
//    margin: 0 0 1.5em 2em;
    li {
        counter-increment: step-counter;
        line-height: $line-h;
        &::before {
            content: counter(step-counter);
            font-weight: bold;
//            margin-right: 0.7em;
            color: colour(secondary);
            width: 1em;
            margin-left: -1.5em;
            margin-right: 1em;
            text-align: right;
            direction: rtl;
        }
        &:last-child {
            margin-bottom: 1em;
        }
    }

}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}