// General Form styling

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea, select {
    border-radius: 0px;
    background-color: colour(light);
    border-color: colour(light);
    border-bottom-color: colour(tertiary);
    color: colour(detail);
    transition: 0.5s ease all;
    padding: 0.5em 1em;
    line-height: $line-h;
    &:focus {
        background: colour(light);
        box-shadow: none;
        border-color: colour(light);
        border-bottom-color: colour(secondary);
        color: colour(detail);
        font-family: 'ibmplexmono', monospace;
        
    }
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    border-radius: 3px;
    -webkit-appearance: none;
    outline: 0px;
//    &:focus {
//        box-shadow: 0 0 5px colour(detail);
//        border: 1px solid colour(detail);
//		color: #000;
//	}
}

// Gravity Forms

body .gform_wrapper {
    background: #fff;
    padding: 1em;
    .gform_heading {
        text-align: center;
        font-size: 20px;
    }
    .gform_body {
        .gfield {
            &:before {
                display: none;
            }
        }
        label {
            font-family: $facit;
            font-weight: bold;
            font-style: italic;
        }
        .field_sublabel_below .ginput_complex.ginput_container label, .field_sublabel_below div[class*=gfield_time_].ginput_container label {
            font-size: 14px;
            font-weight: italic;
            font-family: $facit;
        }
        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
//            font-family: 'ibmplexmono', monospace;
            color: colour(detail);
            padding: 0.5em 1em;
        }
        textarea {
            padding: 0.5em 1em;
            line-height: $line-h;
        }
    }
    .gform_footer {
        text-align: center;
        input[type=submit] {
            @include button(tertiary);
        }
    }
    &.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
        margin-top: 0;
    }
    
}

body .builder.text .gform_wrapper {
    form {
        max-width: 650px;
    }
}

input[type="submit"], button {
    cursor: pointer;
    transition: 0.5s ease all;
    &:hover {
        color: colour(primary);
    }
}

.gform_confirmation_message {
    line-height: $line-h;
}

fieldset {
    border: 1px solid colour(light);
    padding: 1.5em;
    margin-bottom: 1em;
}

#edd_profile_submit_fieldset {
    border: 0px;
    #edd_profile_editor_submit {
        @include button(tertiary);
    }
}


.no-required-symbol {
    .gfield_required, .gfield_label {
        display: none;
    }
}