h1 {
    font-family: $facit;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 1em;
    @include respond-to(brook) {
        font-size: 35px;
    }
    
}

h2 {
    font-family: $facit;
    font-weight: 700;
    font-size: 22px;
    @include respond-to(brook) {
        font-size: 25px;
    }
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-family: $facit;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    
}

h4 {
    font-family: $facit;
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    
}

h5 {
    font-family: $facit;
//    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h6 {
    
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
    
}

p {
    margin-bottom: 1.5em;
    line-height: $line-h;
}

blockquote {
    
}

a {
    text-decoration: none;
    color: colour(detail);
    border-bottom: 1px solid colour(highlighter);
    transition: color 0.3s ease;
    &:hover {
        color: colour(highlighter);
    }
}

@import "typography-lists";
@import "typography-forms";